.addPlantDescr{
    margin-left: 30vw;
}
.plant-form{
    margin: auto;
}

.back-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-style: none none none none;
    margin: auto;
    padding: 15px;
}

h2, p{
    display: block;
    text-align: left;
}