/* Styles that apply to the whole app should go here, e.g. body, a, div, etc.. */
/* html{
  background-color: rgb(4, 20, 6);
} */

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5)
  ), url("./images/pexels-garrett-morrow-1638073.jpg"); */
  /* background-image: url("./images/pexels-garrett-morrow-1638073.jpg"); */
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.350)
  ), url("./images/pexels-karolina-grabowska-4621652.jpg"); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.350)
  ), url("./images/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg");
  background-size: cover;
  min-height: 130vh; /* this line har a flaw: if you have several plants and expand every card, 
  the background will at some point move. There must be a way to make it dynamic*/
  /* background-color: rgba(255, 255, 255, 0.794); */
}
/* .Home{
  background-color: white;
} */
/* .plant-container{
  background-color: white;
} */

.header {
  text-decoration: none;
}

hr {
  opacity: 50%;
}
h2{
  color: white;
}

p {
  font-size: 0.875rem; /* Change the value to adjust the size */
  text-align: center; /* Optional: center the text horizontally */
  color: white;
}

input:focus {
  outline: none;
}

a, button[type="button"] {
  background-color: transparent;
  border-style: none none none none;
  margin-top: 10px;
  font-size: 16px;
  color: #444; /* set a dark grey color for the link */
  text-decoration: underline;
  text-align: center;
  color: white;
}

.all-plants {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.graphs {
  display: flex;
  flex-direction: column;
}

/* .moisture-graph, .uv-graph, .temperature-graph{
  width: 700px;
  height: auto;
} */


.about-content > p {
  text-align: left;
}

.about-content {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
}

