.Home {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
}
.logout-btn{
    background-color: transparent;
    border-style: none none solid none;
    border-bottom: 1px solid #444; /* set a dark grey border color */
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}
.change-username{
    background-color: transparent;
    border-style: none none solid none;
    border-bottom: 1px solid #444; /* set a dark grey border color */
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;

}
button:hover {
    cursor: pointer;
}
  
.expandable-div {
    width: 300px;
    height: 100px;
    background-color: #ccc;
    transition: all 0.5s ease;
}
.expandable-div:hover{
    cursor: pointer;
}
.expanded {
    width: 300px;
    height: 300px;
    transition: all 0.5s ease;
}
.card-title{
    display: flex;
    /* flex-direction: column; */
}